@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


/*start of global colors*/
:root{
  --color-white:white;
 --color-black:black;
}
/* end of global colors */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size:62.5%;
}
body{
font-size: 1.6rem;
}
/* Start of header styling */
.header-section{
display: flex;
flex-direction: row;
justify-content: space-between;
background-image: linear-gradient(to right, rgb(62, 17, 17) , rgb(70, 70, 3));
color:var(--color-white);
padding: 20px;
}
.logo-name{
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
.nav-links{
margin-right: 20vw;
}
.nav-links-ul{
list-style: none;
display: flex;
flex-direction: row;
gap:25px
}
.nav-links-ul li:hover{
background-color: var(--color-black);
}
.nav-links-ul li a{
  text-decoration: none;
  color: var(--color-white);
  font-size: 20px;
}
.font-menu-icon{
font-size: 20px;
}
@media screen and (max-width: 748px) {
  .nav-links{
    margin-right: 5vw;
    }
    .nav-links-ul{
     
      gap:15px
      }
  }
@media screen and (max-width: 574px) {
.nav-links{
display: none;
}
}
@media screen and (min-width: 574px) {
  .menu-icon-container{
  display: none;
  }
  }
  @media screen and (max-width: 236px) {
    .logo-name{
    font-size: 7vw;
    }
    .font-menu-icon{
      font-size:7vw;
      }
    }
/* End of header styling */

/* Start of hero section styling */
.hero-section-overall-container{
  position: relative;
width: 100%;
height:85vh;
background-image: url(./Images/pexels-pixabay-271695.jpg),linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
background-blend-mode: darken;
background-position: bottom;
background-size: cover;

}
.hero-section-text{
  position: absolute;
  z-index: +1;
  width: 400px;
  height: max-content;
  top:30vh;
  left: 5vw;
}
.hero-section-intro-text{
  font-size:300%;
  color:var(--color-white);
  font-weight: bold;
}
.book-btn{
width: 100px;
padding: 10px;
background-color: rgb(37, 10, 10);
color: white;
}
@media screen and (max-width: 498px) {
  .hero-section-text{
  width: 80vw;
  top:25vh
  }
  .hero-section-intro-text{
  font-size: 200%;
  }
  }

/* End of hero section styling */